
@media screen and ( min-width: 768px) {

    header {
        margin: 20px;
    }

    section {
        display: flex;
        flex-flow: column;
        gap: 20px;
        background-color: var(--cor-secundaria);
        padding: 20px;
    }

    section > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }

    section > div img, section > div iframe {
        margin: 0 auto;
        display: block;
    }

    footer {
        padding: 20px;
    }

    footer > h1 {
        margin: 20px;
    }

}