@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 10px;
    max-width: 800px;
    min-width: 300px;
}

h1 {
    margin: 10px;
}

:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #E5E4E9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
        margin: 20px;
}

section {
    display: flex;
    flex-flow: column;
    gap: 20px;
    background-color: var(--cor-secundaria);
    padding: 20px;
}

section > div:first-child {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

section > div:last-child {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

section > div img, section > div iframe {
    margin: 0 auto;
    display: block;
}

footer {
    padding: 20px;
}

footer > h1 {
    margin: 20px;
}